@import "../fonts.css";
@import "../homepageLink.css";

:root{
    --grey: hsl(229, 20%, 15%);
    --grey__dark: hsl(229, 25%, 12%);
    --black: #121212;
    --blue__light: #627CEA;
    --blue__dark: hsl(228, 47%, 25%);
    --blue__darker--200: hsl(229, 46%, 16%);
    --blue__darker--400: hsl(229, 46%, 10%);
    --blue__darker--600: hsl(229, 46%, 7%);
    --blue__darker--800: hsl(229, 46%, 4%);
    width: 100%;
    height: 100%;
    color:white;
    background-image: linear-gradient(to top left,
        var(--blue__darker--800) 20%,
        var(--blue__darker--600) 30%,
        var(--blue__darker--400) 45%,
        var(--blue__darker--400) 55%,
        var(--blue__darker--600) 70%,
        var(--blue__darker--800) 90%
    );
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

body{
    font-family: "Red Hat Display", serif;
    overscroll-behavior:none;
}
*{
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
    height: 100%;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playground__container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 70px;
    flex-direction: column;
}

.playground__item{
    background-color: var(--grey__dark);
    width: 200px;
    height: 200px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
    color:white;
}
.item__image{
    width: 70px;
    height: 70px;
}


h1{
    font-size: 3rem;
    text-align: center;
    margin: 5rem 0;
    color:var(--blue__light);
}


@media screen and (min-width: 600px){
    h1{
        font-size: 5rem;
    }
    .playground__container{
        flex-direction: row;
    }
}