@import "../homepageLink.css";
@import "../fonts.css";

:root {
    --grey: hsl(229, 20%, 15%);
    --grey__dark: hsl(229, 25%, 12%);
    --black: #121212;
    --blue__light: #627CEA;
    --blue__dark: hsl(228, 47%, 25%);
    --blue__darker--200: hsl(229, 46%, 16%);
    --blue__darker--400: hsl(229, 46%, 10%);
    --blue__darker--600: hsl(229, 46%, 7%);
    --blue__darker--800: hsl(229, 46%, 4%);
    background-image: linear-gradient(to top left,
    var(--blue__darker--800) 20%,
    var(--blue__darker--600) 30%,
    var(--blue__darker--400) 45%,
    var(--blue__darker--400) 55%,
    var(--blue__darker--600) 70%,
    var(--blue__darker--800) 90%
    );
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

*{
    margin:0;
    padding:0;
    overflow:hidden;
}

body{
    font-family: "Red Hat Display", serif;
    overscroll-behavior:none;
}

.main{
    display:flex;
    flex-wrap: wrap;
    width:100%;
    height:100%;
    align-items: center;
    justify-content: center;
}
.main__cookie{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.cookie{
    max-width: 60vw;
}

.main__cookie:hover{
    cursor: pointer;
}

.main__shop{
    width:80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y:scroll;
    padding: 10px;
}

.main__shop h1{
    font-size: 3rem;
}

.upgrade__stats{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}
.shop__upgrade{
    border: 1px solid black;
    margin: 20px 0;
    padding: 15px;
    border-radius: 20px;
    background: var(--grey);
    color:var(--blue__light);
    opacity: 0.6;

}

.shop__upgrade:hover{
    cursor: pointer;
}

@media(min-width: 900px){
    .main{
        flex-wrap: nowrap;
    }
    .main__cookie{
        display:flex;
        flex-direction: column;
        justify-content: center;
        width:60%;
        align-items: center;
    }
    .cookie{
        max-width: 40vw;
    }
    .main__shop{
        width:40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-y:scroll;
        padding: 10px;
    }
}

@media(min-width: 600px){
    .cookie{
        max-width: 40vw;
    }

}