.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20%;
    width: 100%;
    margin-bottom: 30px;
}

.header h1 {
    font-size: 5rem;
    margin-bottom: 10px;
}

.header__information {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.header__information h2 {
    font-size: 2rem;
    margin: 0;
}

.controls--container {
    display: flex;
}

.controls--deactivated {
    border: 1px solid var(--blue__light);
    height: 50px;
    width: 50px;
    font-size: 4rem;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.controls--activated {
    display: none;
    padding: 10px;
    font-size: 1.5rem;
    border: 1px solid var(--blue__light);
    z-index: 10;
    cursor: pointer;
}

.intro {
    display: flex;
    height: 80%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.size__input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.size__input__explanation{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:white;
}
.size__input__explanation h2 {
    font-size: 2rem;
    margin: 0;
}

.size__input__explanation h3 {
    font-size: 1.5rem;
    margin: 0;
}

#size__input {
    min-width: 150px;
    min-height: 50px;
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    outline: none;
    font-size: 1rem;
    overflow: visible;
}
#size__input::-webkit-outer-spin-button,
#size__input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#game_start {
    min-width: 150px;
    min-height: 50px;
    font-size: 1.1rem;
    background-color: #fff;
    border: 1px solid black;
    cursor: pointer;
}

body {
    color: var(--blue__light);
    padding: 20px;
}

