@import "information.css";
@import "snakePitch.css";
@import "../../fonts.css";
@import "../../homepageLink.css";

:root{
    --grey: hsl(229, 20%, 15%);
    --grey__dark: hsl(229, 25%, 12%);
    --black: #121212;
    --blue__light: #627CEA;
    --blue__dark: hsl(228, 47%, 25%);
    --blue__darker--200: hsl(229, 46%, 16%);
    --blue__darker--400: hsl(229, 46%, 10%);
    --blue__darker--600: hsl(229, 46%, 7%);
    --blue__darker--800: hsl(229, 46%, 4%);
    width: 100%;
    height: 100%;
    color: var(--blue__light);
    background-image: linear-gradient(to top left,
    var(--blue__darker--800) 20%,
    var(--blue__darker--600) 30%,
    var(--blue__darker--400) 45%,
    var(--blue__darker--400) 55%,
    var(--blue__darker--600) 70%,
    var(--blue__darker--800) 90%
    );
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

body{
    font-family: "Red Hat Display", serif;
    overscroll-behavior:none;

}
