.pitch__cell {
    padding: 1em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#snake__pitch {
    width: min-content;
    border-spacing: 0;
    box-shadow: 0 0 100px var(--blue__light);
    border-radius: 20px;
}

tr, td {
    padding: 0;
    margin: 0;
}

.snake__game {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 1em;
}