@import "../homepageLink.css";
.field_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 500px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.kachel{
    padding: 10px;
    text-align: center;
    height: 100px;
    width: 100px;
    border: 1px solid black;
    overflow: hidden;
    word-wrap: break-word;
}
