@import "../fonts.css";
@import "../homepageLink.css";
:root{
    --grey: hsl(229, 20%, 15%);
    --grey__dark: hsl(229, 25%, 12%);
    --black: #121212;
    --blue__light: #627CEA;
    --blue__dark: hsl(228, 47%, 25%);
    --blue__darker--200: hsl(229, 46%, 16%);
    --blue__darker--400: hsl(229, 46%, 10%);
    --blue__darker--600: hsl(229, 46%, 7%);
    --blue__darker--800: hsl(229, 46%, 4%);
    width: 100%;
    height: 100%;
    color: var(--blue__light);
    background-image: linear-gradient(to top left,
    var(--blue__darker--800) 20%,
    var(--blue__darker--600) 30%,
    var(--blue__darker--400) 45%,
    var(--blue__darker--400) 55%,
    var(--blue__darker--600) 70%,
    var(--blue__darker--800) 90%
    );
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

body{
    font-family: "Red Hat Display", serif;
    overscroll-behavior:none;
}
*{
    padding:0;
    margin:0;
}
#color__box{
    width:100%;
    height:50%;
    margin-bottom: 20px;
}
.possibleColor__button{
    height:100px;
    width:100px;
    margin:10px;
    outline: none;
    border:1px solid black;
}

#game{
    display:none;
}

.game__header{
    width:100%;
    font-size:1.5rem;
    border-bottom: 1px solid ;
    display:flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    padding:10px;
}
#buttons__container{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#pregame{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
#pregame h1{
    font-size: 3rem;
    color: var(--blue__light);
    margin: 20px;
}
#startButton{
    height:100px;
    width:220px;
    margin:10px;
    outline: none;
    border:none;
    font-size: 1.2rem;
    border-radius: 10px;
    background-color: var(--grey__dark);
    color: var(--blue__light);
}
#startButton:hover{
    box-shadow: 0 0 100px var(--blue__darker--200);
    cursor:pointer;
}
#numberOfButtons{
    height:75px;
    width: 200px;
    text-align: center;
    background-color: var(--grey);
    border: none;
    font-size: 1.1rem;
    color: var(--blue__light);
}
#numberOfButtons:focus{
    outline-offset: 0;
    outline: var(--blue__light) solid 1px;
}

#postgame{
    display: none;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}


